## Exercise

You are an HR analyst and you have the salaries of all employees in your company in a NumPy array. Your job is to identify how many employees earn above average. Use the following array for your analysis: `salarios = np.array([3000, 2500, 3500, 4000, 2000, 4500, 3000, 3800, 4800])`.

In [2]:
import numpy as np

salaries = np.array([3000, 2500, 3500, 4000, 2000, 4500, 3000, 3800, 4800])

In [10]:
# calculate the average
mean_salaries = np.mean(salaries)

employees_above = np.where(salaries>mean_salaries)
print(employees_above)

(array([2, 3, 5, 7, 8], dtype=int64),)

In [11]:
employees_above = np.shape(employees_above)
employees_above_number = employees_above[1]
print(employees_above_number)

5

In [16]:
# another ways
employees_above_number = np.sum(salaries>mean_salaries)
print(employees_above_number)

employees_above_number = np.count_nonzero(salaries>mean_salaries)
print(employees_above_number)

unique_values, counts = np.unique(salaries>mean_salaries, return_counts=True)
print(employees_above_number)
print(counts)

5
5
5
[4 5]

In [17]:
# Bonus: create 20 values related to salaries

rng = np.random.default_rng(seed=42)

salaries_created = rng.integers(low=np.min(salaries), high=np.max(salaries), size=20)
print(salaries_created)

[2249 4167 3832 3228 3212 4404 2240 3952 2564 2263 3474 4731 4060 4131
 4008 4200 3437 2358 4351 3261]

In [18]:
print(np.mean(salaries_created))

3506.1

In [19]:
print(salaries_created.min())
print(salaries_created.max())
print(salaries_created.mean())

2240
4731
3506.1